@import url(../assets/css/reset.css);
@font-face {
  font-family: "Pretendard";
  src: url(../fonts/Pretendard-Regular.woff);
}
body,
html {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 100%;
}

body {
  line-height: 1.5;
  font-family: "Pretendard";
  font-size: 15px;
}

section {
  height: 100%;
  padding-bottom: 50px;
}
section:last-of-type {
  padding: 0;
}
section.project1 h1,
section.project1 h2,
section.project1 h3 {
  color: rgb(190, 190, 255);
}
section.project1 p strong {
  font-size: 30px;
  color: #c2508b;
}
section.project1 article:first-of-type::after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  top: 0;
  left: 0;
  position: absolute;
  background-color: rgba(17, 17, 17, 0.2);
}
section.project2 article:first-of-type::after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  top: 0;
  left: 0;
  position: absolute;
  background-color: rgba(17, 17, 17, 0.2);
}
section.project2 article h1 {
  text-align: right;
  padding-top: 150px;
  color: #2e4efe;
  z-index: 2;
}
section.project3 article:not(:first-of-type) .inner {
  max-width: 1350px;
  text-align: left;
}

.proScroll {
  display: inline-block;
  position: relative;
  opacity: 0;
  transform: translateY(50px);
  transition: all 1.1s;
  transition-delay: 0.2s;
}
.proScroll.active {
  opacity: 1;
  transform: translateY(0);
}

article {
  width: 100%;
  height: 100vh;
  position: relative;
}
article .inner {
  word-break: keep-all;
  padding: 0 1.5rem;
  max-width: 1200px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}
article .inner h1 {
  font-size: 60px;
}
article .inner h2 {
  padding-top: 50px;
  font-size: 40px;
}
article .inner h3 {
  font-size: 25px;
}
article .inner p {
  padding-top: 50px;
  font-size: 25px;
}

.pro1-art1 .inner {
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  align-items: center;
}
.pro1-art1 .inner h1 {
  letter-spacing: -1px;
  margin-top: -150px;
}

.pro1-art2 .inner figure {
  padding-top: 50px;
}
.pro1-art2 .inner figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.pro1-art3 {
  height: 100%;
  padding-bottom: 100px;
}
.pro1-art3 .items {
  transition: all 0.35s;
  gap: 50px;
  margin-top: 150px;
  display: flex;
  flex-wrap: wrap;
}
.pro1-art3 .item {
  position: relative;
  flex: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  border-radius: 0.5rem;
  box-shadow: 0.3rem 0.3rem 0.6rem #c8d0e7, -0.2rem -0.2rem 0.5rem #ffffff,
    inset -0.2rem -0.2rem 0.5rem #ffffff;
}
.pro1-art3 .item:nth-of-type(odd) {
  top: 30px;
}
.pro1-art3 .item p {
  padding: 0;
  font-size: 18px;
}

.pro1-art4 {
  height: 100%;
}
.pro1-art4 .sub-title {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}
.pro1-art4 .sub-title span {
  width: 50px;
  height: 20px;
}
.pro1-art4 .sub-title span img {
  width: 80%;
}
.pro1-art4 .sub-title p {
  line-height: 25px;
  padding: 0;
}
.pro1-art4 .sub-title p:last-of-type strong {
  color: rgb(190, 190, 255);
}
.pro1-art4 .concept {
  position: relative;
  margin-top: 100px;
  width: 100%;
  min-height: 100px;
  max-height: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}
.pro1-art4 .concept .contents {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  align-items: center;
  width: 250px;
  height: 100px;
  background: linear-gradient(
    93.65deg,
    rgb(190, 190, 255) 28.81%,
    #f6f3ff 102.65%
  );
  border-radius: 46.4286px;
}
.pro1-art4 .concept .contents span {
  display: inline-block;
  border-radius: 50%;
  line-height: 80px;
  width: 80px;
  height: 80px;
  background-color: #fff;
}
.pro1-art4 .concept2 {
  margin-top: 150px;
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 100px;
}
.pro1-art4 .concept2 .contents {
  height: 100%;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pro1-art4 .concept2 .contents img {
  width: 100%;
  vertical-align: top;
}
.pro1-art4 .concept2 .contents:first-of-type {
  gap: 10px;
  flex-direction: column;
}
.pro1-art4 .concept2 .contents:first-of-type span {
  font-size: 18px;
}
.pro1-art4 .concept2 .contents:last-of-type img {
  width: 50%;
}

.pro1-art5 {
  height: 100%;
}
.pro1-art5 .descs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.pro1-art5 .descs .desc {
  width: 30%;
  margin-top: 100px;
}
.pro1-art5 .descs .desc p {
  color: #cfcfcf;
  padding: 0;
  margin-bottom: 50px;
}
.pro1-art5 .color {
  display: inline-block;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  line-height: 80px;
}
.pro1-art5 .color:first-of-type {
  background-color: rgb(190, 190, 255);
}
.pro1-art5 .color:nth-of-type(2) {
  background-color: #c2508b;
}
.pro1-art5 .color:last-of-type {
  background-color: #f2f2f2;
}
.pro1-art5 .result {
  margin-top: 150px;
  width: 100%;
  height: 600px;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.pro1-art5 .result h2,
.pro1-art5 .result p {
  padding: 0 1rem;
}
.pro1-art5 .result figure {
  width: 200px;
  height: 200px;
  border-radius: 15%;
}
.pro1-art5 .result figure img {
  width: 100%;
  height: 100%;
}

.pro2-art2 {
  height: 100%;
}
.pro2-art2 figure {
  margin-top: 30px;
}
.pro2-art2 figure img {
  width: 100%;
}

.pro2-art3 .content {
  width: 100%;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}
.pro2-art3 .content .phone {
  margin-right: -100px;
  width: 60%;
  display: flex;
}
.pro2-art3 .content .phone figure {
  position: relative;
}
.pro2-art3 .content .phone figure:first-of-type {
  top: 100px;
  margin-right: -230px;
  z-index: 2;
}
.pro2-art3 .content .desc {
  width: 40%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
}
.pro2-art3 .content .desc p {
  font-size: 30px;
}

.pro2-art4 {
  height: 100%;
  padding-bottom: 50px;
}
.pro2-art4 .concept {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
}
.pro2-art4 .concept .contents {
  width: 50%;
}
.pro2-art4 .concept .contents figure {
  width: 100%;
}
.pro2-art4 .concept .contents figure img {
  width: 100%;
}
.pro2-art4 .concept .contents .sub-title {
  padding-left: 2rem;
  text-align: left;
  position: relative;
  margin: 50px 0;
}
.pro2-art4 .concept .contents .sub-title::after {
  content: "";
  width: 50px;
  height: 3px;
  background-color: #2e4efe;
  position: absolute;
  bottom: 0;
  left: 2rem;
}
.pro2-art4 .concept .contents:first-of-type {
  width: 100%;
}
.pro2-art4 .concept .contents .colorItem {
  margin-left: 50px;
  display: flex;
  gap: 100px;
}
.pro2-art4 .concept .contents .colorBox {
  display: flex;
  flex-direction: column;
}
.pro2-art4 .concept .contents .colorBox .color {
  position: relative;
  width: 70px;
  height: 70px;
  border: 1px solid #2e4efe;
}
.pro2-art4 .concept .contents .colorBox .color:first-of-type {
  background-color: #2e4efe;
  border-bottom: none;
}
.pro2-art4 .concept .contents .colorBox .color:nth-of-type(2) {
  border-bottom: none;
  background-color: #080d2a;
}
.pro2-art4 .concept .contents .colorBox .color:last-of-type {
  background-color: #fefefe;
}
.pro2-art4 .concept .contents .colorText {
  line-height: 35px;
  display: flex;
  flex-direction: column;
}
.pro2-art4 .concept .contents .fonts {
  display: flex;
  justify-content: center;
  gap: 50px;
}
.pro2-art4 .concept .contents .fonts,
.pro2-art4 .concept .contents .fontDesc {
  margin-left: 50px;
}
.pro2-art4 .concept .contents .fontDesc {
  font-size: 18px;
}

.pro2-art5 {
  padding: 30px 0;
}

.pro3-art1 {
  position: relative;
}
.pro3-art1 .inner {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  text-transform: uppercase;
}
.pro3-art1 .inner .title {
  display: flex;
  flex-direction: column;
  text-align: left;
  z-index: 2;
}
.pro3-art1 .inner .title span {
  color: rgb(232, 232, 232);
  font-size: 60px;
}
.pro3-art1 .inner .title p {
  padding: 0;
  font-size: 80px;
  color: rgb(0, 115, 229);
}
.pro3-art1 .inner .title h1 {
  color: rgb(255, 255, 255);
  font-size: 100px;
}

.pro3-art2 .inner h3 {
  color: rgb(0, 115, 229);
  padding: 10vh 0 5vh;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  position: relative;
}
.pro3-art2 .inner h3::after {
  content: "";
  display: block;
  height: 80px;
  width: 2px;
  background-color: #000;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -40px;
}
.pro3-art2 .strategy {
  color: rgb(17, 17, 17);
  position: relative;
  width: 80%;
  margin: 50px auto 0;
  height: 30%;
  border: 2px solid #000;
  border-radius: 200px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}
.pro3-art2 .strategy li {
  padding: 50px;
}
.pro3-art2 .strategy::after,
.pro3-art2 .strategy::before {
  content: "";
  width: 50px;
  height: 50px;
  display: block;
  position: absolute;
  background-color: rgb(255, 255, 255);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.pro3-art2 .strategy::after {
  margin-left: 50%;
}
.pro3-art2 .strategy::before {
  margin-left: -50%;
}
.pro3-art2 .strategy span {
  font-size: 20px;
}
.pro3-art2 .strategy span .point {
  color: rgb(0, 115, 229);
}

.pro3-art3 .inner .guide {
  margin-top: 10vh;
  display: flex;
  flex-wrap: wrap;
  height: 80%;
}
.pro3-art3 .inner .guide li {
  height: 40%;
}
.pro3-art3 .inner .guide li p {
  padding-left: 2rem;
}
.pro3-art3 .inner .guide li h3 {
  color: rgb(121, 123, 128);
  padding-left: 1rem;
}
.pro3-art3 .inner .guide li:first-of-type {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
.pro3-art3 .inner .guide li:first-of-type .color {
  width: 100%;
  height: 80%;
  display: flex;
}
.pro3-art3 .inner .guide li:first-of-type .color div {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pro3-art3 .inner .guide li:first-of-type .color div span {
  color: rgb(255, 255, 255);
}
.pro3-art3 .inner .guide li:first-of-type .color .col1 {
  width: 30%;
  background-color: rgb(30, 31, 33);
}
.pro3-art3 .inner .guide li:first-of-type .color .col2 {
  width: 30%;
  background-color: rgb(232, 232, 232);
}
.pro3-art3 .inner .guide li:first-of-type .color .col2 span {
  color: rgb(30, 31, 33);
}
.pro3-art3 .inner .guide li:first-of-type .color .col3 {
  width: 15%;
  background-color: rgb(0, 115, 229);
}
.pro3-art3 .inner .guide li:first-of-type .color .col4 {
  width: 15%;
  background-color: rgb(235, 245, 255);
}
.pro3-art3 .inner .guide li:first-of-type .color .col4 span {
  color: rgb(30, 31, 33);
}
.pro3-art3 .inner .guide li:first-of-type .color .col5 {
  background-color: rgb(121, 123, 128);
  width: 10%;
}
.pro3-art3 .inner .guide li:nth-of-type(2) {
  width: 60%;
}
.pro3-art3 .inner .guide li:last-of-type {
  width: 40%;
}
.pro3-art3 .inner .guide li:last-of-type .desc {
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.pro3-art3 .inner .guide li:last-of-type span {
  display: inline-block;
  height: 100px;
  width: 100px;
  border-radius: 100px;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}
.pro3-art3 .inner .guide li:last-of-type span:first-of-type {
  color: rgb(17, 17, 17);
  background-color: rgb(235, 245, 255);
}
.pro3-art3 .inner .guide li:last-of-type span:nth-of-type(2) {
  background-color: rgb(30, 31, 33);
}
.pro3-art3 .inner .guide li:last-of-type span:last-of-type {
  background-color: rgb(0, 115, 229);
}

.pro3-art4 {
  background: url(./tab2-imges/pro3-mockup.png) center no-repeat;
  background-size: cover;
}
.pro3-art4 .inner h2 {
  text-align: center;
  color: rgb(255, 255, 255);
}

@media screen and (max-width: 1024px) {
  .pro1-art2 .inner figure {
    padding-top: 100px;
  }
  .pro2-art3 {
    height: 100%;
  }
  .pro2-art3 .content {
    padding: 0.5rem;
    width: 100%;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  .pro2-art3 .content .phone {
    margin: auto;
    justify-content: center;
    width: 80%;
    display: flex;
  }
  .pro2-art3 .content .phone figure {
    position: relative;
  }
  .pro2-art3 .content .phone figure:first-of-type {
    top: 100px;
    margin-right: -230px;
    z-index: 2;
  }
  .pro2-art3 .content .desc {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .pro2-art3 .content .desc p {
    font-size: 30px;
  }
  .pro3-art2 .inner h2,
  .pro3-art2 .inner p {
    text-align: center;
  }
}
@media screen and (max-width: 767px) {
  .pro2-art4 {
    margin-top: 100px;
  }
  .pro2-art4 .concept {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .pro2-art4 .concept .contents {
    width: 100%;
  }
  .pro2-art4 .concept .contents .sub-title {
    padding: 0;
  }
  .pro2-art4 .concept .contents .sub-title::after {
    left: 0;
  }
  .pro2-art4 .concept .contents .fonts,
  .pro2-art4 .concept .contents .fontDesc {
    margin-left: 0;
  }
  .pro3-art2 .inner h3::after {
    display: none;
  }
  .pro3-art2 .strategy {
    border: none;
    justify-content: space-evenly;
  }
  .pro3-art2 .strategy::after,
  .pro3-art2 .strategy::before {
    display: none;
  }
  .pro3-art2 .strategy li {
    padding: 5px;
  }
  .pro3-art3 {
    min-height: 100%;
  }
  .pro3-art3 .inner .guide {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .pro3-art3 .inner .guide li {
    height: 33.333%;
    align-items: center;
    text-align: center;
  }
  .pro3-art3 .inner .guide li:nth-of-type(1),
  .pro3-art3 .inner .guide li:nth-of-type(2),
  .pro3-art3 .inner .guide li:nth-of-type(3) {
    width: 100%;
  }
}
@media screen and (max-width: 576px) {
  article:nth-of-type(2) .inner,
  article:last-of-type .inner {
    padding: 0;
  }
  .pro1-art2 .inner figure {
    padding-top: 100px;
  }
  .pro1-art3 {
    margin-top: -100px;
    padding-bottom: 50px;
  }
  .pro1-art3 .items {
    margin-top: 50px;
    padding: 1rem 2rem;
  }
  .pro1-art3 .items .item {
    flex: 47%;
  }
  .pro1-art3 .items .item:nth-of-type(odd) {
    top: 0;
    left: 30px;
  }
  .pro1-art3 .items .item:nth-of-type(even) {
    right: 30px;
  }
  .pro1-art4 .sub-title {
    margin-top: 50px;
    gap: 50px;
  }
  .pro1-art4 .concept .contents:nth-of-type(odd) {
    margin-left: 100px;
  }
  .pro1-art4 .concept .contents:nth-of-type(even) {
    margin-right: 100px;
  }
  .pro1-art4 .concept2 {
    margin-top: 50px;
  }
  .pro1-art4 {
    padding-top: 50px;
  }
  .pro1-art4 .descs {
    margin: 50px 0;
  }
  .pro1-art4 .descs .desc {
    width: 45%;
  }
  .pro1-art4 .result {
    margin-top: 50px;
  }
  .pro2-art5 video {
    margin: -100px;
  }
}
