@font-face {
  font-family: "cafesquare";
  src: url(../fonts/Cafe24Ohsquare.woff);
}
/* 헤더 폰트 */
@font-face {
  font-family: "pretendard";
  src: url(../fonts/Pretendard-Regular.woff);
}

html,
body {
  height: 100%;
}
/* 본문 폰트 */
body {
  font-family: "pretendard";
  line-height: 1.25;
}
/* 헤더 폰트 */
header {
  font-family: "cafesquare";
}

.out-text {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
}
/* 웹 접근성 -ir- 대체 텍스트  */
