@import url(./reset.css);
@import url(./common.css);
/* header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 6vw;
  z-index: 999;
  transition: all 0.5s cubic-bezier(1, 1, 1, 1);
}
.header--active {
  transform: translateY(-100%);
}
.header--hide {
  display: none;
}
.header .header__inner {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0 7vw;
  justify-content: space-between;
  align-items: center;
}
.header .header__inner .header-menu {
  display: flex;
  position: relative;
  height: 4vw;
  align-items: center;
  perspective: 99999px;
  will-change: transform;
  transition: 0.35s;
}
.header .header__inner .header-menu:hover .header-menu__tab {
  transform: rotateX(90deg);
}
.header .header__inner .header-menu.on .header-menu__tab {
  color: rgb(0, 115, 229);
}
.header .header__inner .header-menu:first-of-type .header-menu__tab:first-child, .header .header__inner .header-menu:last-of-type .header-menu__tab:first-child {
  padding: 0 1.52vw;
}
.header .header__inner .header-menu .header-menu__tab {
  display: flex;
  position: relative;
  height: 100%;
  padding: 0 1.25vw;
  color: rgb(255, 255, 255);
  font-size: 3.5vw;
  justify-content: center;
  line-height: 4vw;
  transform-style: preserve-3d;
  transform: translateZ(-30px);
  transition: transform 0.4s cubic-bezier(0.26, 1, 0.3, 1);
  will-change: transform;
}
.header .header__inner .header-menu .header-menu__tab:nth-of-type(2) {
  transition-delay: 0.0514s;
}
.header .header__inner .header-menu .header-menu__tab:nth-of-type(3) {
  transition-delay: 0.1028s;
}
.header .header__inner .header-menu .header-menu__tab:nth-of-type(4) {
  transition-delay: 0.15428s;
}
.header .header__inner .header-menu .header-menu__tab:nth-of-type(5) {
  transition-delay: 0.1957142s;
}
.header .header__inner .header-menu .header-menu__tab:nth-of-type(6) {
  transition-delay: 0.24714s;
}
.header .header__inner .header-menu .header-menu__tab:nth-of-type(7) {
  transition-delay: 0.28857s;
}
.header .header__inner .header-menu .header-menu__tab .top,
.header .header__inner .header-menu .header-menu__tab .bottom {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
}
.header .header__inner .header-menu .header-menu__tab .top {
  transform: rotateY(0deg) translateZ(-2.777778vw);
}
.header .header__inner .header-menu .header-menu__tab .bottom {
  transform: rotateX(-90deg) translateZ(-2.777778vw);
}

/* header---end */
/* footer */
.footer {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1.5rem 0 1rem;
  gap: 1.5rem;
  border-top: 1px solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  text-align: center;
}
.footer .footer__col1 {
  display: flex;
  width: 100%;
}
.footer .footer__col1 li {
  width: 33.3333333333%;
}
.footer .footer__col1 li a {
  width: 100%;
  font-size: 20px;
}
.footer .footer__col2 {
  font-size: 12px;
}

/* footer */
@media screen and (max-width: 767px) {
  .header {
    height: calc(6vw + 25px);
  }
}
@media screen and (max-width: 576px) {
  .header {
    height: calc(6vw + 50px);
  }
  .header .header-menu {
    height: 5vw;
  }
  .header .header-menu .header-menu__tab {
    padding: 0 1.7vw;
    font-size: 5vw;
    line-height: 5vw;
  }
}