:root {
  --color-main: rgb(30, 31, 33);
  --color-sub: rgb(255, 255, 255);
  --color-sup: rgb(232, 232, 232);
  --color-blue: rgb(0, 115, 229);
  --color-pro1: rgb(161, 161, 229);
  --color-gray: rgb(165, 169, 172);
  --color-sky: rgb(235, 245, 255);
  --xs: 10px;
  --s: 14px;
  --m: 16px;
  --l: 20px;
  --xl: 24px;
  --xxl: 32px;
  --xxxl: 40px;
}

body {
  background-color: var(--color-main);
}

.section-work {
  position: relative;
  min-height: 100%;
  padding-top: 5vw;
}
.section-work .section__title-box {
  max-width: 1400px;
  margin: 0 auto;
  padding: 5vh 2vh;
  color: var(--color-sub);
}
.section-work .section__title-box .setion__title {
  display: inline-block;
  border-bottom: 2px solid var(--color-blue);
  padding: 1.5vh 0;
  font-size: var(--xxxl);
}
.section-work .section__title-box .setion__sub-title {
  padding: 1vh 0 0 0;
  font-size: var(--xxl);
}
.section-work .section__title-box .setion__sub-title span {
  color: var(--color-blue);
}
.section-work .btn-area {
  display: flex;
  justify-content: center;
  margin: 2.5vh auto 6.5vh;
  gap: 15px;
}
.section-work .btn-area .btn {
  padding: 10px 20px;
  border-radius: 30px;
  background-color: var(--color-sub);
  font-size: var(--l);
  color: var(--color-blue);
  cursor: pointer;
  transition: 0.25s ease-in;
}
.section-work .btn-area .btn:hover {
  background-color: var(--color-blue);
  color: var(--color-sub);
}
.section-work .section-work__contents {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  min-height: 100%;
  max-width: 1480px;
  margin: 0 auto;
  padding: 5vh 0;
  gap: 20px;
}
.section-work .section-work__contents .content {
  position: relative;
  width: 240px;
  height: 200px;
}
.section-work .section-work__contents .content.on .content-link img {
  opacity: 1;
  transition: 0.15s ease-in-out;
  transition-delay: 0.15s;
}
.section-work .section-work__contents .content .content-link {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: var(--color-sub);
  transition: 0.25s ease-in-out;
}
.section-work .section-work__contents .content .content-link img {
  opacity: 0;
}
.section-work .section-work__contents .content:nth-of-type(4n) .content-link {
  right: 0;
  top: 0;
  width: 0;
  height: 100%;
}
.section-work .section-work__contents .content:nth-of-type(4n).on .content-link {
  width: 100%;
}
.section-work .section-work__contents .content:nth-of-type(4n + 1) .content-link {
  right: 0;
  bottom: 0;
  width: 100%;
  height: 0%;
}
.section-work .section-work__contents .content:nth-of-type(4n + 1).on .content-link {
  height: 100%;
}
.section-work .section-work__contents .content:nth-of-type(4n + 2) .content-link {
  left: 0;
  bottom: 0;
  width: 0;
  height: 100%;
}
.section-work .section-work__contents .content:nth-of-type(4n + 2).on .content-link {
  width: 100%;
}
.section-work .section-work__contents .content:nth-of-type(4n + 3) .content-link {
  right: 0;
  top: 0;
  width: 100%;
  height: 0;
}
.section-work .section-work__contents .content:nth-of-type(4n + 3).on .content-link {
  height: 100%;
}