@import url(./reset.css);
@import url(./common.css);

/* header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 6vw;
  z-index: 999;
  transition: all 0.5s cubic-bezier(1, 1, 1, 1);
  &--active {
    transform: translateY(-100%);
  }
  &--hide {
    display: none;
  }
  .header__inner {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0 7vw;
    justify-content: space-between;
    align-items: center;
    .header-menu {
      display: flex;
      position: relative;
      height: 4vw;
      align-items: center;
      perspective: 99999px;
      will-change: transform;
      transition: 0.35s;
      &:hover {
        .header-menu__tab {
          transform: rotateX(90deg);
        }
      }
      &.on {
        .header-menu__tab {
          color: rgb(0, 115, 229);
        }
      }
      &:first-of-type,
      &:last-of-type {
        .header-menu__tab:first-child {
          padding: 0 1.52vw;
        }
      }
      .header-menu__tab {
        display: flex;
        position: relative;
        height: 100%;
        padding: 0 1.25vw;
        color: rgb(255, 255, 255);
        font-size: 3.5vw;
        justify-content: center;
        line-height: 4vw;
        transform-style: preserve-3d;
        transform: translateZ(-30px);
        transition: transform 0.4s cubic-bezier(0.26, 1, 0.3, 1);
        will-change: transform;
        &:nth-of-type(2) {
          transition-delay: 0.0514s;
        }
        &:nth-of-type(3) {
          transition-delay: 0.1028s;
        }
        &:nth-of-type(4) {
          transition-delay: 0.15428s;
        }
        &:nth-of-type(5) {
          transition-delay: 0.1957142s;
        }
        &:nth-of-type(6) {
          transition-delay: 0.24714s;
        }
        &:nth-of-type(7) {
          transition-delay: 0.28857s;
        }
        .top,
        .bottom {
          position: absolute;
          width: 100%;
          height: 100%;
          text-align: center;
        }
        .top {
          transform: rotateY(0deg) translateZ(-2.777778vw);
        }
        .bottom {
          transform: rotateX(-90deg) translateZ(-2.777778vw);
        }
      }
    }
  }
}
/* header---end */

/* footer */
.footer {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1.5rem 0 1rem;
  gap: 1.5rem;
  border-top: 1px solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  text-align: center;
  .footer__col1 {
    display: flex;
    width: 100%;
    li {
      width: calc(100% / 3);
      a {
        width: 100%;
        font-size: 20px;
      }
    }
  }
  .footer__col2 {
    font-size: 12px;
  }
}
/* footer */

// 헤더 반응형

@media screen and (max-width: 767px) {
  .header {
    height: calc(6vw + 25px);
  }
}
@media screen and (max-width: 576px) {
  .header {
    height: calc(6vw + 50px);
    .header-menu {
      height: 5vw;
      .header-menu__tab {
        padding: 0 1.7vw;
        font-size: 5vw;
        line-height: 5vw;
      }
    }
  }
}
